body {
    background-color: rgb(219, 219, 219);
    font-family: "Chivo", sans-serif;
    font-optical-sizing: auto;
}

h1 {
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;     
}

h2 {
    font-family: "Share Tech Mono", monospace;
    font-weight: 600;
    font-style: normal;     
}

p {
    color: rgb(0, 48, 87);
}

.tiny {
    font-size: 1px;
}

.bold {
    font-weight: 700;
}